@model WorkingWithVisualStudio.Models.Product
@{ 
    Layout = null;
}
<DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Praca z VS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="p-2">
    <h3>Dodawanie produktu</h3>
    <form asp-action="AddProduct" method="post">
        <div class="form-group">
            <label asp-for="Name">Nazwa:</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Price">Cena:</label>
            <input asp-for="Price" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </form>
</body>
</html>